.main {
    background-color: gray;
    margin: -21px;
}
.h {
    color: lightgreen;
    text-shadow: 2px 2px 4px #000000;;
    direction: rtl;
    text-align: center;
}
.logo {
    position: fixed;
    top: -1px;
    right: 1845px;
    border-radius: 50%;
}

.bar {
    display: flex;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: black;
    padding: 10px;
}

ul li a {
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}

.brands {
}

.gorilla {
    position: fixed;
    right: -27px;
    bottom: 720px;
}

.nebbia {
    position: fixed;
    left: -29px;
}

.Swimsuit {
    position: relative;
    bottom: -102px;
    background-color: beige;
}

.men {
    position: relative;
    right: -10px;
    top: 0px;
    font-size: large;
    font-family: sans-serif;
}
.wom {
    position: relative;
    top: -162px;
    right: -247px;
    font-size: large;
    font-family: sans-serif;
}

.w1 {
    position: relative;
    top: -155px;
    left: 232px;
}